<footer class="d-flex">
  <div class="row footer">
    <img src="../../../assets/img/shoop.png" class="img-animada" alt="logo">
    <ul class="contact mt-5">
      <li class="title">Contatos</li>
      <div class="phone">
        <span>
          <i class="bi bi-telephone-forward-fill mr-2"></i>
        </span>
        <li>(11) 5555-0000</li>
      </div>
      <div class="email">
        <span>
          <i class="bi bi-envelope-open-fill mr-2"></i>
        </span>
        <li>japafood@gmail.com.br</li>
      </div>
      <div class="location">
        <span>
          <i class="bi bi-building mr-2"></i>
        </span>
        <li>Avenida das Nações Unidas, 14.326 - Morumbi</li>
      </div>
    </ul>
    <ul class="medias-sociais mt-5 col-2">
      <li class="title">Redes sociais</li>
      <span>
        <i class="bi bi-facebook"></i>
      </span>
      <span>
        <i class="bi bi-instagram"></i>
      </span>
      <span>
        <i class="bi bi-twitter"></i>
      </span>
    </ul>
  </div>
</footer>
