<div class="container-fluid">
  <app-header></app-header>
  <main class="content">
    <section>
      <div class="row">
        <div class="col-md-6 d-flex">
          <div class="card">
            <img src="../../../assets/img/salmão.png" class="card-img-top" alt="salmão">
            <div class="card-body">
              <p class="title">Salmão</p>
              <p class="description">Vai algo aqui</p>
              <p class="price">R$ 25,00</p>
              <button class="add">+</button>
            </div>
          </div>
          <div class="card">
            <img src="../../../assets/img/ligue-china-comida-japonesa-e.png" class="card-img-top mt-4" alt="salmão">
            <div class="card-body">
              <p class="title">Salmão</p>
              <p class="description">Vai algo aqui</p>
              <p class="price">R$ 25,00</p>
              <button class="add">+</button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <p class="title-main">Faça seu pedido, temos muitas opções para que você amante da culinária japonesa possa escolher.</p>
          <p class="description-main">
            Nós do Japa Food queremos levar até você o melhor da culinária japonesa,através de nossos pratos
            A La Carte,  Rodízio de Sushis e Sashimis.Além de diversos tipos de bebidas e deliciosas sobremesas.
          </p>
        </div>
      </div>
    </section>
  </main>
  <br>
</div>
