<div class="container-fluid">
  <app-header></app-header>
  <main class="content">
    <section>
      <div class="row">
        <div class="col-md-6 d-flex">
          <div class="card">
            <img src="../../../assets/img/salmão.png" class="card-img-top" alt="salmão">
            <div class="card-body">
              <p class="title">Salmão</p>
              <p class="price">R$ 25,00</p>
              <button class="btn-add">+</button>
            </div>
          </div>
          <div class="card">
            <img src="../../../assets/img/temaki - mobi.png" class="card-img-top mt-5 img-mobi" alt="salmão">
            <div class="card-body">
              <p class="title title-mobi">Temaki</p>
              <p class="price">R$ 45,00</p>
              <button class="btn-add">+</button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <p class="title-main">Faça seu pedido, temos muitas opções para que você amante da culinária japonesa possa escolher.</p>
          <p class="description-main">
            Nós do Japa Food queremos levar até você o melhor da culinária japonesa,através de nossos pratos
            A La Carte,  Rodízio de Sushis e Sashimis.Além de diversos tipos de bebidas e deliciosas sobremesas.
          </p>
        </div>
      </div>
    </section>
  </main>
  <section class="temaki">
    <div class="row">
      <div class="col-md-6 col-12 mt-5 resume">
        <p class="title-main">Temaki de salmão com cebolinha</p>
        <p class="description">Já para quem busca uma opção de temaki tradicional, essa é a receita ideal.
          Aqui o prato é preparado apenas com nori, salmão e cebolinha. Se você nunca comeu esse sabor,
          não pense que por levar poucos ingredientes ele deixa de ser saboroso, viu? Na verdade, ele é o prato
          mais pedido atualmente em nosso restaurante.
        </p>
      </div>
      <div class="col-md-6 col-12">
        <img src="../../../assets/img/temaki.png" alt="temaki">
      </div>
    </div>
  </section>
  <section class="rodízio">
    <div class="row">
      <div class="col-md-6 col-12">
        <img src="../../../assets/img/rodizio.png" class="img-rodizio" alt="Rodízio">
      </div>

      <div class="col-md-6 mt-5 col-12">
        <p class="title-main">Rodízio</p>
        <p class="description">
          O que mais impressiona os clientes é a qualidade e a variedade dos pratos:
          são 42 opções à vontade, além de 25 tipos de sushi e 13 recheios de temaki.
          Assim que o cliente chega recebe a explicação sobre o funcionamento do sistema do restaurante
          e são oferecidos as entradas: sunomono, vinagrete de lula e a salada Massao, que já se tornou
          um clássico do restaurante.
        </p>
      </div>
    </div>
  </section>
  <section class="medias">
    <div class="row">
      <div class="col-md-8 col-12">
        <div class="card-delivery">
          <img src="../../../assets/img/motoboy.png" class="img-motoboy" alt="Rodízio">
          <img src="../../../assets/img/phone-ifood.png" class="img-phone" alt="Rodízio">
        </div>
      </div>

      <div class="col-md-4 col-12 mt-5">
        <p class="title-main">Faça seu pedido também pelo Ifood</p>
        <p class="description">
          Gostamos do feedback de nossos clientes, deixe sua avaliação no aplicativo!⭐
        </p>
        <div class="download d-flex">
          <img src="../../../assets/img/app_store.png" alt="app_store">
          <img src="../../../assets/img/google-play.png" alt="google-play">
        </div>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>
