.title {
  font-family: 'Courgette', cursiva;
  font-weight: bold;
  font-size: 68px;
  max-width: 400px;
  margin-top: 15%;
}

.description {
  font-family: 'Roboto', sans-serif;
  max-width: 300px;
  font-size: 20px;
  font-style: italic;
  color: #868688;
}

.center {
  width: 80px;
  height: 40px;
  position: absolute;
  margin-top: 10%;
}

.btn {
  width: 180px;
  height: 40px;
  cursor: pointer;
  background: black;
  outline: none;
  transition: 1s ease-in-out;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 50px;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #4F95DA;
}

.btn:hover svg {
  stroke-dashoffset: -580;
}

.btn span {
  color: white;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.img-sushi{
  width: 790px;
}
