<section>
  <div class="row">
    <div class="col-md-4">
      <article>
        <h1 class="title">Que tal um Delicioso Sushi?</h1>
        <p class="description">Fazemos sushi fresco e saudável com diferentes receitas</p>
      </article>
      <div class="center">
        <button class="btn">
          <svg width="180px" height="40px" viewBox="0 0 180 35" class="border">
            <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
            <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
          </svg>
          <span>Ver menu</span>
        </button>
      </div>
    </div>
    <div class="col-md-8">
      <img class="img-sushi" src="../../../assets/img/sushi-efeito.png" alt="sushi">
    </div>
  </div>
</section>
