.content {
  margin-top: 10%;
}

.card-body{
  margin-top: 18%;
}

.title, .price {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  line-height: 1.0rem;
  color: #666669;
}

.description-main, .description {
  font-family: 'Roboto', sans-serif;
  color: #666669;
  font-size: 16px;
  max-width: 500px;
}

.btn-add {
  border: none;
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.title-main{
  font-family: 'Courgette', cursiva;
  font-weight: bold;
  font-size: 38px;
  line-height: 40px;
  max-width: 500px;
  margin-bottom: 5%;
}

.temaki {
  margin-top: 10%;
  width: 96%;
}

.medias {
  margin-top: 15%;
}

.img-rodizio {
  width: 90%;
}

.card-delivery {
  display: flex;
}

.download img {
  width: 80%;
}

.jump:hover{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  transition: 0.5s;
}

/* Efeito Flipp */

.main-container {
  position: relative;
  width: 250px;
  height: 350px;
}

.thecard {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.cardback .description {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  line-height: 1.5rem;
  color: #c7c7c9;
}

.thecard:hover {
  transform: rotateY(180deg);
  transition: 0.8s;
}

.cardfront {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: none;
  border-radius: 40px;
  background-image: linear-gradient(to bottom, #F2F6FF 30%, white);
  box-shadow: 3px 2px 1px rgba(0, 0, 0, 0.11);
  text-align: center;
  margin-top: -50px;
  margin-right: 5%;
}

.cardback {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  border: none;
  border-radius: 40px;
  background: black;
  box-shadow: 3px 2px 1px rgba(0, 0, 0, 0.11);
  text-align: center;
  margin-top: -50px;
  margin-right: 5%;
}

@media(max-width: 600px) {
  .thecard {
    margin: 50% 0 30% 0;
    height: 300px;
  }

  .title-main {
    margin-top: 30px;
  }

  .img-mobi {
    width: 90%;
  }

  .title-mobi {
    margin-top: -10%;
  }

  .temaki img {
    width: 100%;
  }
  .card-delivery img {
    width: 50%;
  }

  .temaki .row .resume:first-child{
    order: 2;
  }

  .img-rodizio {
    margin: 10% 0;
  }

  .description-main, .description {
    color: #666669c4;
    margin-top: 10%;
  }

  .download img {
    width: 50%;
    height: 30%;
  }
}
