/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2? family = Roboto: wght @ 400; 700 & display = swap');
@import url('https://fonts.googleapis.com/css2? family = Courgette & display = swap');

body {
  background-color: #F2F6FF;
}

section {
  padding-left: 6%;
}

.btn {
  width: 180px;
  height: 40px;
  cursor: pointer;
  background: black;
  outline: none;
  transition: 1s ease-in-out;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 50px;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #4F95DA;
}

.btn:hover svg {
  stroke-dashoffset: -580;
}

.btn span {
  color: white;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
