/* Efeito Flipp */

.main-container {
  position: relative;
  width: 250px;
  height: 350px;
  margin-top: 10%;
}

.thecard {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.thecard:hover {
  transform: rotateY(180deg);
  transition: 0.8s;
}

.cardfront {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: none;
  border-radius: 40px;
  background-image: linear-gradient(to bottom, #F2F6FF 30%, white);
  box-shadow: 3px 2px 1px rgba(0, 0, 0, 0.11);
  text-align: center;
}

.cardback {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  border: none;
  border-radius: 40px;
  background: black;
  box-shadow: 3px 2px 1px rgba(0, 0, 0, 0.11);
  text-align: center;
}

span .bi-cart4 {
  color: rgb(17, 231, 17);
  font-size: 70px;
}

.btn-pay {
  display: block;
  border: none;
  border-radius: 20px;
  width: 150px;
  padding: 3%;
  background: black;
  border: 1px solid  rgb(17, 231, 17);
  color: white;
  cursor: pointer;
  margin: auto;
}

.btn-pay:hover {
  background-color: rgb(17, 231, 17);
  opacity: 0.7;
  transition: 0.5s;
}

.header .title {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin-top: 2%;
}

.footer .avaliation {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
}
