<section class="products">
  <div class="d-flex row col-12" style="justify-content: center;">
    <div class="main-container mr-5" *ngFor="let product of products">
      <div class="thecard col-12">
        <div class="cardfront">
          <div class="header">
            <p class="title">{{product.name}}</p>
          </div>
          <div class="body">
            <img src={{product.img}} class="card-img-top mt-2" alt={{product.name}}>
          </div>
          <div class="footer mt-4">
            <p class="avaliation">⭐⭐⭐⭐⭐</p>
            <p class="price">{{product.price | currency:'BRL'}}</p>
          </div>
        </div>

        <div class="cardback">
          <span>
            <i class="bi bi-cart4"></i>
          </span>
          <button class="btn-pay mt-5">Comprar</button>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>

